@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
        url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #000000;
}

body {
    margin: 0;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration-line: underline;
    color: #07A7EB;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}
/* Header */
.header {
    padding: 15px 0;
}

.title {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    color: #000000;
}

.button {
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    background: #07A7EB;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    background: #45C7FF;
}

.button:active {
    background: #017BBF;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
}

.list-item {
    margin-right: 40px;
}

.list-item:last-child {
    margin-right: 0;
}

.list-item-link {
    text-decoration: none;
    color: #000000;
}
.list-item-link:hover {
    text-decoration-line: underline;
    color: #07A7EB;
}

.language {
    display: flex;
    border: none;
}

.language:hover {
    background: #FFFFFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
}

.language-value {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

/* MAin */
.hero {
    background-position: right 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 76px 0 110px;
    background-image: url(./images/image-main.png);
}

.container-hero {
    color: #FFFFFF;
    margin-top: 76px;
    margin-right: 342px;
}

.hero-title {
    max-width: 634px;
    line-height: 66px;
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.hero-list {
    font-size: 24px;
    margin-bottom: 80px;
}

.hero-list-item {
    list-style-position: inside;
    color: #FFFFFF;
    margin-bottom: 32px;
    list-style-image: url(./images/Vector.svg);
}

.item {
    font-weight: 700;
    margin-left: 21px;
}

.button-hero {
    padding: 20px 120px;
}

/* Services */

.services {
    padding: 63px 0 55px;
}

.services-title {
    margin-bottom: 30px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services-item {
    text-align: center;
    padding: 140px 10px 40px;
    background-repeat: no-repeat;
    background-position: center 27px;
    cursor: pointer;
}

.services-item:hover {
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: all 0.5s ease-in;
}

.services-item-1 {
    background-image: url(./images/image1a.svg);
}

.services-item-1:hover {
    background-image: url(./images/image1b.svg);
}

.services-item-2 {
    background-image: url(images/icon2a.svg);
}

.services-item-2:hover {
    background-image: url(images/icon2b.svg);
}

.services-item-3 {
    background-image: url(./images/icon3a.svg);
}

.services-item-3:hover {
    background-image: url(./images/icon3b.svg);
}

.services-item-4 {
    background-image: url(./images/icon4a.svg);
}

.services-item-4:hover {
    background-image: url(./images/icon4b.svg);
}

.services-item-5 {
    background-image: url(./images/icon5a.svg);
}

.services-item-5:hover {
    background-image: url(./images/icon5b.svg);
}

.services-item-6 {
    background-image: url(./images/icon6a.svg);
}

.services-item-6:hover {
    background-image: url(./images/icon6b.svg);
}

.services-item-7 {
    background-image: url(./images/icon7a.svg);
}

.services-item-7:hover {
    background-image: url(./images/icon7b.svg);
}

.services-item-8 {
    background-image: url(./images/icon8a.svg);
}

.services-item-8:hover {
    background-image: url(./images/icon8b.svg);
}

.services-item-9 {
    background-image: url(./images/icon9a.svg);
}

.services-item-9:hover {
    background-image: url(./images/icon9b.svg);
}

.services-item-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.services-item-description {
    line-height: 22px;
    max-width: 330px;
    margin: 0 auto;
}
/* Section About */

.about-bgi {
    background-image: url(./images/about.png);
    background-size: cover;
    padding: 65px 0 85px;
    border-radius: 10px;
    background-position: right 0;
}

.about-container {
    max-width: 628px;
    margin-left: auto;
    margin-right: 56px;
}

.about-title {
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
}

.about-detail {
    font-size: 16px;
    line-height: 22px;
    opacity: 0.8;
    margin-bottom: 25px;
}

.about-bold {
    font-weight: 700;
}

.about-description-one {
    margin-bottom: 40px;
}

.button-about {
    border: 3px solid #07A7EB;
    border-radius: 8px;
    color: #07A7EB;
    padding: 19px 32px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-weight: 700;
}

.button-about:hover {
    background: #07A7EB;
    color: #FFFFFF;
}

.button-about:active {
    background: #017BBF;
}

.partners {
    padding: 63px 0 66px;
    background: #FFFFFF;
}

.partners-title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 60px;
}

.partners-list {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px 40px;
}

.request {
    background-image: url(./images/request_image.png);
    background-size: cover;
    background-position: center 0;
}

.request-container {
    padding: 63px 0 94px;
}

.request-title {
    margin-bottom: 65px;
    color: #FFFFFF;

}

.request-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 24px;
    max-width: 794px;
    margin: 0 auto;
}

.label {
    position: relative;
}

.input-label::before {
    position: absolute;
    content: "";
    background-image: url(./images/origin.svg);
    width: 12px;
    height: 12px;
    top: 50%;
    left: 21px;
    transform: translateY(-50%)
}

.input-label-two::before {
    position: absolute;
    content: "";
    background-image: url(./images/name.svg);
    width: 16px;
    height: 16px;
    top: 50%;
    left: 18.5px;
    transform: translateY(-50%)
}

.input-label-three::before {
    position: absolute;
    content: "";
    background-image: url(./images/tel.svg);
    width: 13.5px;
    height: 13.5px;
    top: 50%;
    left: 19.25px;
    transform: translateY(-50%)
}

.form-input {
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 19px 18px 19px 46px;
}

.request-msg {
    grid-column: 1/3;
    resize: none;
    height: 124px;
    outline: none;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 19px 17px 17px;
}

.request-btn {
    grid-column: 1/3;
    padding: 19px 147px;
}

.information {
    padding: 63px 0 96px;
    background: #FFFFFF;
    margin: 0 auto;
}

.information-title {
    margin-bottom: 73px;
}

.contact-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

.information-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 360px;
    max-width: 610px;
}

.info-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 19px;
}

.information-contact-list {
    position: relative;
}

.information-name {
    padding-left: 40px;
}

.information-name::before {
    background-image: url(./images/location_inf.svg);
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    left: 2px;
    transform: translateY(50%)
}

.information-item {
    margin-bottom: 17px;
    list-style-image: url(./images/tel.svg);
    list-style-position: inside;
}

.information-tel {
    font-size: 22px;
    margin-left: 17px;
}

.information-email-name {
    margin-left: 32px;
}

.information-email {
    background-image: url(./images/mail_info.svg);
    background-repeat: no-repeat;
}

.footer {
    background: #E9F8FF;
    background-size: cover;
    padding: 53px 0 35px;
    margin: 0 auto;
}

.footer-one {
    display: flex;
    justify-content: space-around;
   /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    border-bottom: 1px solid #95CEE7 ;
    padding-bottom: 50px;
    background-size: 100%;
}

.for-clients-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.for-clients {
    margin-bottom: 15px;
}

.footer-socmedia-title {
    margin-top: 33px;
}

.socmedia-list {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
}

.footer-contacts {
    position: relative;
    padding-left: 37px;
}

.footer-contacts:not(:last-child) {
    margin-bottom: 15px;
}

.footer-tel::before {
    position: absolute;
    content: "";
    background-image: url(./images/tel.svg);
    width: 14px;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-adress::before {
    position: absolute;
    content: "";
    background-image: url(./images/origin.svg);
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-botton {
    padding: 19px 65px;
    margin-top: 29px;
}

.footer-two {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.footer-more-item {
    display: inline;
}

.footer-more-item:not(:first-child) {
    margin-left: 35px;
}